@using Bilet9.Models
@model List<Position>
<div class="container">
    <div class="row">

        <div class="row">
            <a asp-action="Create" asp-controller="Position" class="btn btn-success">Create</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col"> Title</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var position in Model)
                {
                    <tr>
                        <th scope="row">@position.Id</th>
                        <td>@position.Title</td>
                        <td>
                            <a asp-action="Update" asp-controller="Position" asp-route-id="@position.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-controller="Position" asp-route-id="@position.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>